/* Navbar.css */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    font-size: 1.2rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  
   */
/* 
   body{
    margin: 0px 0px;
} */

.navbar{
  margin-top: 0%;
  width: 100wh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color; */
    background-image: linear-gradient(to left , rgb(229, 109, 109) ,rgb(100, 140, 188));
    color:white;
    padding: 1rem;
}
.logo{
    font-size: 2.5rem;
    text-shadow: 0.1rem 0.1rem black;
}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 7rem;
    font-size: 1.5rem;
    
    
}
.nav-links li{
    transition: color 1s;
       text-decoration: none;

}
.nav-links a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #61dafb;
  }